<template>
  <div>
  	<b-jumbotron header="VueJS" lead="Default App with VueJS" >
		<p>Lorem ipsum dolor sit amet.</p>
		<b-btn variant="success" href="#">Lorem ipsum</b-btn>
	</b-jumbotron>
  </div>
</template>
<script>
export default {
  name: 'homedefault',
  data() {
    return {
    }
  },
}
</script>
<style></style>