<template>
  <b-col sm="2">
  	<b-form-select size = "sm" v-model="search" :options="options" class="mb-3" @input="addSearch"></b-form-select>
  </b-col>
</template>
<script>
export default {
  name: 'filter-select-table',
  data() {
    return {
    	search: ''
    }
  },
  methods: {
  	addSearch($event) {
  		this.$emit('eventSearch',(this.search == ''?'':'&' + this.field + '=' + this.search))
  	}
  },
  props: {
  	options: {
	  required: true,
	  type: Array,
	  default: []
	},
	field:{
      required: true,
      default: ''
    }
  }
}
</script>
<style></style>