<template>
  <div>
  	<h4>Table</h4>
    <form-table></form-table>
    <b-alert variant="info" show v-if="show_alert">{{text_alert}}</b-alert>
  	<b-table striped hover v-if="itens.length > 0" :items="itens" :fields="fields"></b-table>
  	<b-pagination align="center" :total-rows="numberOfPages" :value.sync="currentPage" :per-page="10" @change="changePage">
    </b-pagination>
  </div>
</template>
<script>
import Data from './../../services/data.js'
import FormTable from './FormTable.vue'
import {mapGetters} from 'vuex'
import {mapState} from 'vuex'
export default {
  name: 'ttabledefault',
  data() {
    return {
    	fields: [
    		{ key: 'codigo', sortable: true },
    		{ key: 'temperatura_max', sortable: true },
    		{ key: 'temperatura_min', sortable: true },
    		{ key: 'precipitacao_acumulada', sortable: true },
    	],
      errors: [],
      search: '',
      text_alert: 'Loading...',
      show_alert: true
    }
  },
  components:{
    FormTable
  },
  methods: {
  	changePage (pageNum){
      this.text_alert = 'Loading...'
      this.show_alert = true
  		Data.list(pageNum, this.search).then(data => {
        this.$store.dispatch('alterItens', data.data.list),
        this.show_alert = false
      }).catch(e => {
        this.errors.push(e)
     })
  	}
  },
  computed: {
    ...mapGetters({
      itens: 'listItens',
      numberOfPages: 'getNumberOfPages'
    }),
    ...mapState({
      currentPage: state => state.currentPage
    })
  },
  mounted() {
  	Data.list(1, null).then(data => {
      this.$store.dispatch('alterItens', data.data.list),
      this.$store.dispatch('alterNumberOfPages', data.data.paginator.page.total),
      this.show_alert = false
    }).catch(e => {
      this.errors.push(e)
    })
  }
}
</script>
<style>
.page-link{
    text-decoration: none;
    background-color: #e9ecef;
    border-color: #ddd;
}
a:link {
    text-decoration: none;
    color: #007bff;
}
</style>